<div class="well login span4">
    <h2>{{t login.header}}</h2>
    {{#if errorMessage}}
    <div class="alert alert-error">
        {{errorMessage}}
    </div>
    {{/if}}
    <label>{{t login.username}}</label>
    {{view view.loginTextField valueBinding="loginName" class="form-control"}}
    <label>{{t login.password}}</label>
    {{view view.passTextField type="password" valueBinding="password" class="form-control"}}
        <button class="btn btn-success" {{action "login" target="controller"}}>{{t login.loginButton}}</button>
</div>
